
* {
    margin: 0;
    padding: 0;
}



.header-container {
    display: grid;
    grid-template-areas: 'title search search search search search search search search search search ';
    align-items: center;
    padding: 10px;
    background-color: #03A9F4;
    font-family: "Liberation Mono", "Courier New", monospace;
}

.title-container {
    grid-area: title;
    padding: 10px;
}

#titleText {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.search-container {
    position: relative;
    top: 0;
    width: 100%;
    grid-area: search;
}


#search {
    width: 90%;
    outline: none;
    border-style: none;
    background-size: 20px;
    background-color: rgb(77, 171, 245);
    padding: 12px 4px 12px 50px;
    color: #717070;
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#search::placeholder {
    color: #FFFFFF;
}

#search:focus::placeholder {
    color: #717070;
    transition: 0.5s;
}


