body {
    background-color: #f1f1f1;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    position: fixed;
    width: 15%;
    height: 100%;
    display: grid;
    grid-template-areas: 'autho'
    'navMenu'
    'navMenu'
    'navMenu'
    'navMenu'
    'navMenu'
    'navMenu'
    'navMenu'
    'navMenu'
    'navMenu';
    position: fixed;
    /* background-color: antiquewhite; */
}

.authorization {
    grid-area: autho;
    height: 40%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin-left: 10%;
    margin-top: 10%;
}


.authorization:hover {
    background-color: #e6eaeb;
    cursor: pointer;
}

.authText {
    font-size: 12px;
    margin-right: 75px;
    color: #000000;
}

.authText2 {
    font-size: 12px;
    margin-right: 50px;
    margin-top: 3px;
    color: #868e96;
}

#authPhoto {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 40px;
}

.navMenu {
    grid-area: navMenu;
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    height: 40%;
    gap: 10px;
}

.navMenu a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    color: #868e96;
}


.homeMenu {
    display: flex;
    justify-content: left;
    width: 75%;
    align-items: center;
    margin-left: 12%;
    padding: 10px;
}


.homeMenu:hover {
    background-color: #e6eaeb;
    cursor: pointer;
    font-weight: bold;
}

.selected {
    color: blue;
}
.filmMenu {
    display: flex;
    justify-content: left;
    width: 75%;
    align-items: center;
    margin-left: 12%;
    padding: 10px;
}

.filmMenu:hover {
    background-color: #e6eaeb;
    cursor: pointer;
    font-weight: bold;
}

.seriesMenu {
    display: flex;
    justify-content: left;
    width: 75%;
    align-items: center;
    margin-left: 12%;
    padding: 10px;
}

.seriesMenu:hover {
    background-color: #e6eaeb;
    cursor: pointer;
    font-weight: bold;
}

.animeMenu {
    display: flex;
    justify-content: left;
    width: 75%;
    align-items: center;
    margin-left: 12%;
    padding: 10px;
}

.animeMenu:hover {
    background-color: #e6eaeb;
    cursor: pointer;
    font-weight: bold;
}

.blogMenu {
    display: flex;
    justify-content: left;
    width: 75%;
    align-items: center;
    margin-left: 12%;
    padding: 10px;
}

.blogMenu:hover {
    background-color: #e6eaeb;
    cursor: pointer;
    font-weight: bold;
}

.blue {
    color: #03A9F4;
  }

/* filter */

.filter-container {
    
    width: 85%;
    float: right;
}

.filterMenu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.filterMenu li {
    margin: 15px;
    padding: 5px;
    border-right: 1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a, .dropbtn {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }

.dropdown:hover {
    background-color: #03A9F4;
} 

  .dropdown-content {
    display: none;
    position: absolute;
    left: 5;
    background-color: #f9f9f9;
    z-index: 1;
    margin-top: 10px;
    padding: 10px;
  }
  
  .dropdown-content div {
    padding: 10px;
  }

  .dropdown-content div:hover {
    background-color: #d0d2d2;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
  width: 200px;
  overflow: auto;
  height: 320px;
}

